/* ------- RFP style -------- */
/* normalization */
*{ font-family: 'Open Sans', sans-serif;font-size:14px; }

nav a{ text-decoration: none; display: block;color :#fff;padding-left: 10px;}
nav a:hover { text-decoration: none !important; color:#fff;background-color:rgba(53, 64, 82, 0.54);}
nav a.active:hover{background-color: #2c3544;}

ul,li{padding: 0px;margin: 0px;list-style: none;}
hr{ margin-bottom:0px !important; }
/* -- layout ------*/
.fl{ float : left ; display : inline;}
.fr{ float : right; display : inline;}

.w10{ width : 10%; }
.w15{width : 15%;}
.w20{width : 20%;}
.w25{width : 25%;}
.w30{width : 30%;}
.w40{width : 40%;}
.w70{width : 70%;}
.w33{width:33.33%;}
.w75{ width : 75%; }
.w80{ width : 80%; }
.w50{ width : 50%; }
.w60{ width : 60%; }
.w100{ width : 100%; }
.h-75{height: 75vh; }
.z-500{ z-index: 5000; }
.y-flow{overflow-y : auto;}
.h-100{height: 100%;}
.h-full{height: 100vh; overflow-y: auto;}
.di{ display : inline !important;}
.dib{ display : inline-block !important;}
.db{ display: block !important; }
.dbNo{ display: none;}
.pab{ position: absolute; }
.top-right-0{ top:0;right:0; }


/* ---- atomic  -----*/
.pl-25{padding-left:25px; }


/* ---- padding  -----*/
.p5-10{ padding:5px 10px; }
.p20-40{ padding:20px 40px; }
.p10-20{padding : 10px 20px;}


/* ---- component  -----*/
.tb{ border-left: none; border-right: none;border-top:none; border-bottom:none;}
.tb:hover{border-bottom: 3px solid #ddd; cursor: pointer;}
.tb--active{ border-top: 3px solid #4285f4; color: #4285f4; }
.tb-v--active{ border-left:3px solid #4285f4; color: #4285f4; }
.tb-v--active:hover,.tb--active:hover{background-color: #fff;}

/* ---- color  -----   */
.bg-dark{ background-color: #354052;}
.hover{ background-color: #50617c; }
.active{background-color: #2c3544; }
.bg-ddd{ background-color: #f9f9f9; }
.bg-dd{ background-color: #ddd; }
.orange{ color: orange; }
.red{ color:red; }
.green{ color:green; }



/* font / text */
.center{ text-align : center !important; }
.al-left{ text-align:left; }
.al-right{ text-align:right; }
.b6{ font-weight: 600 !important; }
.f10{ font-size: 10px; }
.f12{ font-size: 12px; }
.f14{ font-size: 14px; }
.f16{ font-size: 16px; }
.f18{ font-size: 18px;}
.f22{ font-size: 22px; }

