/* ------- RFP style -------- */
/* normalization */
*{ font-family: 'Open Sans', sans-serif;font-size:14px; }

nav a{ text-decoration: none; display: block;color :#fff;padding-left: 10px;}
nav a:hover { text-decoration: none !important; color:#fff;background-color:rgba(53, 64, 82, 0.54);}
nav a.active:hover{background-color: #2c3544;}
select,input{ height: 30px;width:300px;}

/* -- layout ------*/
.fl{ float : left ; display : inline;}
.fr{ float : right ; display : inline;}

.w15{width : 15%;}
.w20{width : 20%;}
.w30{width : 30%;}
.w80{ width : 80%; }
.w50{ width : 50%; }
.w100{ width : 100%; }
.h-full{height: 100vh; overflow-y: auto;}
.di{ display : inline !important;}
.dib{ display : inline-block !important;}
.db{ display: block !important; }

/* ---- atomic  -----*/
.pl-25{padding-left:25px; }


/* ---- padding  -----*/
.p5-10{ padding:5px 10px; }
.p20-40{ padding:20px 40px; }
.p10-20{padding : 10px 20px;}


/* ---- component  -----*/



/* ---- color  -----   */
.bg-dark{ background-color: #354052;}
.hover{ background-color: #50617c; }
.active{background-color: #2c3544; }


/* font / text */
.center{ text-align : center; }
.al-left{ text-align:left; }
.al-right{ text-align:right; }
.b6{ font-weight: 600 !important; }
.f12{ font-size: 12px; }
.f14{ font-size: 14px; }
.f16{ font-size: 16px; }
.f18{ font-size: 18px;}
.f22{ font-size: 22px; }

